.mat-card {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.class-link {
    height: 25px !important;
    color: rgba(163, 177, 43, 1);
    text-shadow: 1px 0 rgb(113, 121, 39);
}