<mat-card>
    <mat-card-header>
        <mat-card-title>Classes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list dense>
            <a mat-list-item href="">Musical Beginnings</a>
            <a mat-list-item href="">Growing with Music</a>
            <a mat-list-item href="">Marimba One * Explore</a>
            <a mat-list-item href="">Marimba Two * Adventure</a>
            <a mat-list-item href="">Marimba Three * Intermediate</a>
            <a mat-list-item href="">Marimba Four * Advanced</a>
            <a mat-list-item href="">Family Marimba</a>
            <a mat-list-item href="">arimba Mammas (and Pappas)</a>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
