<mat-card>
    <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <p>
        Woodruff Music School has been in operation in Shawnigan Lake for over 25 years,
        providing group music classes to all ages, toddlers thru to adults.
        A warm & inclusive approach to teaching this unique program combined with a sweet
        cottage-studio surrounded by garden creates a very special music experience.
        The philosophy surrounding the music program is one of encouraging confidence and
        creative self expression while building musical skills and musical appreciation.
        Students enjoy sharing their musical growth for the benefit of others while building a
        deeper sense of community. Joyful musical experiences inspire a love of playing music
        and encourage a life-long musical habit.
        <br><br>
        The movement and rhythm based classes offer an amazing opportunity for all levels
        of ability to be physically involved in creating energetic, upbeat multilayered music.
        The classes are affordable and tailor-made to suit the varied needs of the children
        and as a result, families return year after year as the children grow through the
        various age-appropriate activities. Toddler programs offered at SLCC introduce
        families to songs and musical games that they can incorporate into their everyday
        routines and provide many opportunities for children to internalize a strong sense of
        beat. This prepares the children for the studio preschool music classes which continue
        to build a strong foundation with opportunities for singing & vocal exploration,
        focused listening, movement, puppets, storytelling, roleplaying, simple notation
        games, and explorations with a variety of rhythm instruments.
        <br><br>
        As the children move into the school aged years the classes continue to be upbeat
        and playful. The program includes chanting and movement, storytelling, simple
        notation games and ensemble work using percussion instruments, xylophones &
        marimbas. Children become familiar with musical theory through games and
        composing simple musical pieces. In the marimba program the students work as a
        team, developing concentration, cooperation and listening skills as they focus on their
        part and learn how it fits within the whole. Their sense of timing is refined through the
        repetition of patterns which rely on a strong pulse.
        <br><br>
        An added unique feature of the music school are the Family Marimba classes, where
        children and their parents have an opportunity to come and experience music
        together as a family in a workshop format.
        <br><br>
        Rather than being tied down to one particular genre of music, Woodruff attempts to
        introduce many musical styles, involving the children in sharing their ideas to create
        original compositions. Out of respect towards the Zimbabwean Shona culture which
        inspires much of the performance pieces of the senior groups, a tradition grew of
        hosting a year end concert “CHILDREN HELPING CHILDREN” to raise funds for a
        preschool serving 6 small villages in Zimbabwe. Many years later the fundraiser
        continues to benefit many programs in several countries.
        <br><br>
        Jennie holds a degree in Education, specializing in Early Childhood and in Music,
        and has over 35 years of experience teaching music to children of all ages.
        Her creative and nurturing teaching style encourages even the most hesitant
        youngster to join in with the activities and her passion and enthusiasm for her work
        shines in the joyful musical expression of the children.
    </p>
    Goals:
    <mat-list dense>
        <mat-list-item *ngFor="let goal of goals">{{goal}}</mat-list-item>
    </mat-list>
</mat-card>