<div class="header">
  <mat-card class="card rounded">
      <img mat-card-image src="../../assets/banner.jpg" alt="Banner" class="banner">
  </mat-card>
  <mat-card class="card">
      <mat-toolbar>
          <button mat-button>Home</button>
          <button mat-button>Classes</button>
          <button mat-button>Schedule</button>
          <button mat-button>About Us</button>
          <button mat-button>Outreach Projects</button>
          <button mat-button>Gallery</button>
          <button mat-button>Blog</button>
      </mat-toolbar>
  </mat-card>
</div>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="400px" gutterSize="0">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="card">
            <mat-card-content class="card-content" [style.background]="card.background">
              <div [ngSwitch]="card.title">
                <app-bio *ngSwitchCase="'Bio'"></app-bio>
                <app-class-list *ngSwitchCase="'ClassList'"></app-class-list>
                <app-quote-of-the-day *ngSwitchCase="'QuoteOfTheDay'"></app-quote-of-the-day>
              </div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>