.banner {
  border-radius: 15px;
  margin: 0;
  width: 100%;
}

.card.rounded {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 15px;
}

.card-content {
  text-align: center;
}

.mat-toolbar.rounded {
  border-radius: 15px;
  background-color: rgba(163, 177, 43, 1);
  height: 50px;
}

.mat-button {
  color: white;

  font-family: Mountains of Christmas;
  font-size: 20px; 

  height: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}