<div class="header">
  <mat-card class="card rounded">
    <img mat-card-image src="../../assets/banner.jpg" alt="Banner" class="banner">
  </mat-card>
  <mat-card class="card">
    <mat-toolbar>
      <a mat-button routerLink="">Home</a>
      <a mat-button routerLink="/classes">Classes</a>
      <a mat-button routerLink="/schedule">Schedule</a>
      <a mat-button routerLink="/about">About Us</a>
      <a mat-button routerLink="/outreach">Outreach Projects</a>
      <a mat-button routerLink="/gallery">Gallery</a>
    </mat-toolbar>
  </mat-card>
</div>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100px" gutterSize="0">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="card" [ngSwitch]="card.title">
        <mat-card-content class="card-content" [style.background]="card.background">
            <router-outlet *ngSwitchCase="'content'"></router-outlet> 
            <app-bio *ngSwitchCase="'bio'"></app-bio>
            <app-class-list *ngSwitchCase="'classes'"></app-class-list>
            <app-quote-of-the-day *ngSwitchCase="'quote'"></app-quote-of-the-day>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>