.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.mat-card {
    box-shadow: none;
    margin: 0;
}

.mat-card-title {
    color: #889911;
    font-family: Mountains of Christmas;
    font-size: 30px;
    text-shadow: 1px 1px #778800;
}