<mat-card>
    <mat-card-header>
        <mat-card-title>Outreach</mat-card-title>
    </mat-card-header>
    <mat-accordion displayMode="default" [multi]="true" [hideToggle]="true">
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>ANCIENT WAYS (ZIMBABWE)</mat-expansion-panel-header>
            <div>Woodruff students raised money for  supplies & food for preschool children</div>
            <img class="outreach-image" mat-card-image src="../../assets/outreach/ancient_ways.jpg" alt="Ancient Ways">
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>MATOTO (GUINEA)</mat-expansion-panel-header>
            <div>Woodruff students contributed to building of Bountouraby Community School</div>
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>NHIMBE FOR PROGRESS (ZIMBABWE)</mat-expansion-panel-header>
            <div>Woodruff students contributed to the building of wells & water access</div>
            <img class="outreach-image" mat-card-image src="../../assets/outreach/nhimbe.jpg" alt="Nhimbe For Progress">
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>MATANHO (ZIMBABWE)</mat-expansion-panel-header>
            <div>Marimba Mammas contributed to micro loans for women</div>
            <img class="outreach-image" mat-card-image src="../../assets/outreach/matanho.jpg" alt="Matanho">
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>UWR-WA (GHANA)</mat-expansion-panel-header>
            <div>Fundraising for Portable UltraSound equipment for expectant mamas</div>
            <img class="outreach-image" mat-card-image src="../../assets/outreach/uwr-wa.jpg" alt="Matanho">
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>GLASSWATERS (NEPAL)</mat-expansion-panel-header>
            <div>Woodruff students raised $500 towards instruments for children in 2 group homes</div>
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
                <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>BLINK NOW (NEPAL)</mat-expansion-panel-header>
            <div>Woodruff students raised $900 towards School & Children’s Home in The Kopila Valley</div>
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>LOCAL CHARITIES</mat-expansion-panel-header>
            <div>Marimba Youth provide entertainment in Cowichan Bay for Cancer Fundraiser</div>
            <img class="outreach-image" mat-card-image src="../../assets/outreach/local-charities.jpg" alt="Local Charities">
            <img class="divider-image" mat-card-image src="../../assets/sunshine.png" alt="Sun Symbol">
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>  