.mat-card {
    box-shadow: none;
    margin: 0;
}

.mat-card-title {
    color: #889911;
    font-family: Mountains of Christmas;
    font-size: 30px;
    text-shadow: 1px 1px #778800;
}

.outreach-image {
    margin-top: 10px;
}

.divider-image {
    width: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
}