.content-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.content-card {
    top: 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.65);
}

.mat-card {
    padding: 15px;
}