<mat-card>
    <mat-card-header>
        <mat-card-title>Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="grid-container">
            <mat-grid-list cols="5" rowHeight="40px" gutterSize="0">
                <mat-grid-tile *ngFor="let headerCard of headerCards" [colspan]="headerCard.cols" [rowspan]="headerCard.rows">
                    <mat-card class="tile-card">
                        <mat-card-content class="header-content" [style.background]="headerCard.background">
                            <div>{{headerCard.title}}</div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="5" rowHeight="80px" gutterSize="0">
                <mat-grid-tile *ngFor="let classCard of classCards" [colspan]="classCard.cols" [rowspan]="classCard.rows">
                    <mat-card class="tile-card">
                        <mat-card-content class="class-content" [style.background]="classCard.background">
                            <a mat-button [routerLink]="['../classes', {name: classCard.link}]" *ngIf="classCard.link != undefined; else outputOnly;">
                                <div class="class-details">
                                    <div *ngIf="classCard.times != null" class="class-time">{{classCard.times}}</div>
                                    <div class="class-title">{{classCard.title}}</div>
                                    <div *ngIf="classCard.subtitle != null" class="class-subtitle">{{classCard.subtitle}}</div>
                                </div>
                            </a>
                            <ng-template #outputOnly>
                                <div class="class-details">
                                    <div *ngIf="classCard.times != null" class="class-time">{{classCard.times}}</div>
                                    <div class="class-title">{{classCard.title}}</div>
                                    <div *ngIf="classCard.subtitle != null" class="class-subtitle">{{classCard.subtitle}}</div>
                                </div>
                            </ng-template>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>