.mat-card {
    background: transparent;
}

.mat-card-content {
    font-family: Georgia, serif;
    font-size: 13px;
}

.bio-image {
    margin: 0;
    width: fit-content;
}

.bio-text {
    margin-top: 5px;

    font-family: "Trebuchet MS", Trebuchet, sans-serif;
    font-size: 13px;
}

.facebook-button {
    margin: auto;
    margin-top: 5px;
    
    width: 100px;
    cursor: pointer;
}