<mat-card>
    <mat-card-content>
        You are really masterful at orchestrating the group, drawing everyone in by making it interesting and fun, and keeping some things for anticipation. The studio is such a great space. ~ parent (Alix)
        <br><br>
        Thanks for the classes so far. They have been great. I can see the kids' sense of rhythm improve within each class. You are very patient and respectful towards the children... I definitely am enjoying the marimba and story aspects to your class... I appreciate that you are tailoring this to the kids' interests while still trying to give us parents something to do as well. This morning I woke up with Slippery snakes and zebras and elephants drumming through my dreams. ~ parent (Margaretha)
    </mat-card-content>
</mat-card>