/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

* {
    box-sizing: border-box;
}

body { 
    margin: 0; 
    
    background-attachment: fixed;
    background-color: #99B006;
    background-image: url("./assets/bg_wide.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}