<mat-card>
    <mat-card-header>
        <mat-card-title>Welcome to Woodruff Music School</mat-card-title>
        <mat-card-subtitle>        
            Celebrating the joyful expression of music, surrounded by a beautiful cottage garden setting, Woodruff Music School has been nurturing musical connections in the Cowichan Valley for over 25 years.
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/connor.jpg" alt="Conner">
    <img mat-card-image src="../../assets/musical_adventures3.jpg" alt="Musical Adventures">
</mat-card>